@charset "utf-8";

@use '../../global/global_index' as *;

// メインタイトルここから //
@mixin main_ttl() {
    .content__ttl {
        text-align: center;
        font-size: 64px;
        font-weight: 900;
        line-height: 1em;
        margin: 0 0 40px;
        color: #28283d;
        @include max('md') {
            font-size: 48px;
        }
        @include max('sm') {
            font-size: 40px;
        }
    }
}
// メインタイトルここまで //
