@charset "utf-8";

// スタンダードテキストここから //
@mixin sta_txt($txtAlign: center, $mBottom: 32px, $color: #87879D) {
    .content__txt {
        text-align: $txtAlign;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.44em;
        color: $color;
        margin: 0 0 $mBottom;
    }
}
// スタンダードテキストここまで //