@charset "utf-8";
@use '../atoms/atoms_index' as atom;
@use '../molecules/molecules_index' as molecule;

// ファーストビューのコンテンツコンポーネントここから //
@mixin fv_contents() {
    .fv__contents{
        font-family: "RedHatDisplay";
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 -50px 194px;
        @include molecule.fv_txts();
        @include molecule.fv_btns();
    }
}
// ファーストビューのコンテンツコンポーネントここまで //