@charset "utf-8";

@use "../atoms/atoms_index" as atom;

// ボタンが２つ格納されたコンポーネントここから //
@mixin fv_btns($maxWidth: 348px) {
    .btn__cover {
        width: 100%;
        max-width: $maxWidth;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        @include atom.sta_btn($className:'what__is',$btnPadding: 18px 29px, $bgColor: #855FB1);
    }
}
// ボタンが２つ格納されたコンポーネントここまで //
