@charset "utf-8";

@use "../atoms/atoms_index" as atom;

// ボタンが２つ格納されたコンポーネントここから //
@mixin img_group() {
    .img__group {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 80px;
        @include atom.img_cover();
    }
}
// ボタンが２つ格納されたコンポーネントここまで //
